.hvigor/
**/oh_modules/
node_modules/
**/build/
**/.cxx/
.idea/
local.properties
/work/
/dist/
/publication/
/presentation/
**/offline-mfi/
*.p12
*.pfx
*.pk8
*.p7b
*.pem
*.cer
*.der
*.profile
*.hap
*.apk
*.log
.env
.env.*
/build-profile.json5
!/releases/DiPlay-Harmony-0.12.0-unsigned.hap
